<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>OTP Verification</title>
    <style>
        img.background {
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: -1;
        width: 100%;
        height: 100%;
        -webkit-filter: blur(5px);
        filter: blur(5px);
        }
    </style>
  </head>
  <body>
    <img class="background" src="/img/slider1.png" alt="bg">
    <div  style="position: absolute; z-index: 2; height: 100vh; width: 100%; display: flex; justify-content: center; align-items: center;  ">
        <div class="container d-flex justify-content-center align-items-center" style="padding: 3%; height: fit-content; width: 40%; border-radius: 20px; border: 1px solid #1b9a43;  background-color: rgba(0, 0, 0, 0.5);">
            <form class="d-flex" action="/send-otp/<%- user.id %>" method="POST" style="width: 100%; ">
                <input type="text" name="otp" placeholder="Please enter your OTP" minlength="6" style="height: 8vh; width: 60%; margin-top:1px; border: 1px solid #1b9a43; text-align: center;">
                <button style="height: 8vh; width: 40%; background-color:  #1b9a43; color: #fff; border: none;">OTP</button>
            </form>
        </div>
    </div>
</body>
</html>