<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Reset Password</title>
</head>
<body>
    <div>
        <form action="/password-reset" method="POST">
            <input type="email" name="email">
            <button>Reset Password</button>
        </form>
    </div>
</body>
</html>