<%- include('include/header') %>
    <title>About</title>
    <style>
        main{
            /* background-color: aqua; */
            height: 91.5vh;
        }
        .mapping{
            height: 91.5vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgb(168, 185, 185);
            /* box-shadow: rgba(0, 0, 0, 0.5); */
        }
        #map {
            width: 35vw;
            min-width: 90%;
            height: 60vh;
            box-shadow: rgba(0, 0, 0, 1);
        }
    </style>
    
    <script async
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsMh1ez5P5I8rTbJDelGvaWNY6t_hlEt4&callback=initMap">
    </script>
</head>
<body>
    <%- include('include/nav') %>
    <main>
        <div class="mapping">
            <div class="map" id="map"></div>
        </div>
    </main>
    <%- include('include/footer') %>
    <script>
        function initMap(){
            let trece = {lat: 14.28136, lng: 120.870382} // trece city hall
            let map = new google.maps.Map(
                document.getElementById('map'), {zoom: 15, center: trece}
            );
            let marker = new google.maps.Marker({position: trece, map: map})
        }
    </script>
</body>
</html>