<%- include('include/header') %>
<title>Home</title>
</head>
<body>
    <%- include('include/nav') %>
    <main>
        <div class="content">
            
        </div>

        <!-- cards -->
        <div class="container-fluid mt-0 " style="background-color: #78ad86; height: 100vh">
            <h1 class="text-center fw-bold py-5 mdisplay-5">Services</h1>
            <div class="container swiper">
                <div class="slide-container" >
                    <div class="card-wrapper swiper-wrapper">
                        <div class="card swiper-slide shadow" style="width: 18rem; height: 60vh;">
                            <div class="card-body ">
                                <h5 class="card-title text-center">Educational Assistance</h5>
                                <p class="card-text " style="text-align:justify;">a form of assistance given to eligable students to help dafray school expenses and/or cost of sending students/children to school such as school fees, supplies, projects allowance and other related expenses.</p>
                                <a href="/college-assistance" class="btn btn-success">See More...</a>
                            </div>
                        </div>
                        <div class="card swiper-slide shadow" style="width: 18rem; height: 60vh; ">
                            <div class="card-body">
                                <h5 class="card-title text-center">Medical Assistance</h5>
                                <p class="card-text " style="text-align:justify;">a form of assistance given to eligable students to help dafray school expenses and/or cost of sending students/children to school such as school fees, supplies, projects allowance and other related expenses.</p>
                                <a href="/medical-assistance" class="btn btn-success">See More...</a>
                            </div>
                        </div>
                        <div class="card swiper-slide shadow " style="width: 18rem; height: 60vh;">
                            <div class="card-body" >
                                <h5 class="card-title text-center">Burial Assistance</h5>
                                <p class="card-text " style="text-align:justify;">a form of assistance given to eligable students to help dafray school expenses and/or cost of sending students/children to school such as school fees, supplies, projects allowance and other related expenses.</p>
                                <a href="/burial-assistance" class="btn btn-success">See More...</a>
                            </div>
                        </div>
                        <div class="card swiper-slide shadow " style="width: 18rem; height: 60vh;">
                            <div class="card-body">
                                <h5 class="card-title text-center">Transportation Assistance</h5>
                                <p class="card-text " style="text-align:justify;">a form of assistance given to eligable students to help dafray school expenses and/or cost of sending students/children to school such as school fees, supplies, projects allowance and other related expenses.</p>
                                <a href="/transportation-assistance" class="btn btn-success">See More...</a>
                            </div>
                        </div>
                        <div class="card swiper-slide shadow " style="width: 18rem; height: 60vh; ">
                            <div class="card-body">
                                <h5 class="card-title text-center">Emergency Shelter Assistance</h5>
                                <p class="card-text " style="text-align:justify;">a form of assistance given to eligable students to help dafray school expenses and/or cost of sending students/children to school such as school fees, supplies, projects allowance and other related expenses.</p>
                                <a href="/emergency-shelter-assistance" class="btn btn-success">See More...</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pt-5 ">
                    <div class="swiper-button-next swiper-navBtn "></div>
                    <div class="swiper-button-prev swiper-navBtn"></div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        <script src="/js/swiper-bundle.min.js"></script>
        <script src="/js/slider_script.js"></script>
        </div>

        <!-- annnouncement -->
        <!-- <% let counter = 0 %>
        <% renderPost.forEach((post) => { %>
            <div class="main-content box-<%- counter %>" style="background-color: rgb(137, 182, 139); margin: 10px; padding: 10px;">
                <p>posted at
                    <% const today = post.createdAt %>
                    <% const f = new Intl.DateTimeFormat('en-us', { dateStyle: 'full' }) %>
                    <%- f.format(today) %> 
                     by <%- post.author %>
                </p>
                <h2>ANNOUNCEMENT</h2>
                <div class="a">
                    <div class="b">
                        <h2><strong>Magandang Araw, Treceño!</strong></h2>
                        <h2><strong><%- post.header %></strong></h3>
                        <p><%- post.post %></p>
                    </div>
                </div>
                <div class="c">
                    <ul>
                        <li>
                            <span>last edit:
                                <%const eTime = post.updatedAt %>
                                <% const newTime = new Intl.DateTimeFormat('en-us', { dateStyle: 'full' }) %>
                                <%- newTime.format(eTime) %> 
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <% counter++ %>
        <% }) %>
        <% if(renderPost == false) { %>
            <div>No Post Yet</div>
        <% } %> -->

        <div class="main-content box-<%- counter %>" style="background-color: rgb(137, 182, 139); margin: 10px; padding: 10px; height:fit-content; min-height: 100vh; ">
            <!-- announcement -->
            <h4 style="text-align: center; font-size: 1.5rem;">Announcement</h4>
            <div class="ann-row">
                <div class="ann-col">
                    <div class="ann-image">
                        <img src="img/aa.jpg" alt="">
                    </div>
                    <div class="ann-heading">
                        <p>DSWD EDUCATIONAL ASSISTANCE</p> 
                    </div>
                    <div class="announcement-content">
                        <p class="text" style="overflow: hidden;">Advisory No. 8
                
                            Ang Lungsod ng Trece Martires ay may schedule ng assessment sa Sabado (September 10, 2022) 8:00 AM to 5:00 PM sa Covered Court - City Hall Compound, Brgy. San Agustin, Trece Martires City, Cavite. Ang mga online applicants mula sa ating lungsod ay nakatanggap o makatatanggap ng text message mula sa DSWD Field Office IV-A tungkol sa lokasyon at iba pang detalye ng assessment.
                
                            PINAAALALAHANAN ang lahat na nananatiling ipinatutupad ang NO WALK-IN POLICY sa assessment site para sa mas maayos at mas ligtas na assessment / payout. Tanging ang mga mayroong text message mula sa DSWD Field Office IV-A ang papapasukin sa assessment site.
                
                            Maraming salamat po.
                
                            Stay healthy and safe, Treceño!
                        </p>
                        <a class="read-more" href="" >Read more</a>
                        <div style="display:flex; justify-content: space-between;">
                            <span class="p-details">posted at</span>
                            <span class="p-details">by David</span>
                        </div>
                        <div style="display:flex; justify-content: space-between;">
                            <span class="p-details">last edit: </span>
                            <span class="p-details">by Pedro<span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="load-more-div">
                <button class="load-more-button" id="load-more">Load More</button>
            </div>
            <!-- <div class="pagination" id="pagination">
                <a href="">1</a>
                <a href="">2</a>
                <a href="">3</a>
            </div> -->
        </div>
        <script>

            let loadMoreBtn = document.querySelector('#load-more');
            let currentItem = 4;
            
            loadMoreBtn.onclick = () =>{
                let boxes = [...document.querySelectorAll('.ann-col')];
                for (var i = currentItem; i < currentItem + 4; i++){
                    boxes[i].style.display = 'inline-block';
                }
                currentItem += 4;
                
                if(currentItem >= 20){
                    loadMoreBtn.style.display = 'none';
                }
    
            //    if(currentItem >= boxes.length){
            //       loadMoreBtn.style.display = 'none';
            //    }
            }
            
        </script>
    </main>
    <%- include('include/footer') %>
</body>
</html>