<%- include('include/header') %>
<title>Currently Unavailable</title>
</head>
<body>
    <%- include('include/nav') %>
    <main>
        <div class="content" style="color: white; display: flex; justify-content: center; align-items: center;">
            <div class="container m-3" style="height: 40vh; display: flex; flex-direction: column; justify-content: center; align-items: center; border-radius: 20px; background-color: rgba(1, 1, 1, 0.9);">
                <h1 class="text-center">No longer have access</h1>
                <a class="text-white btn btn-outline-success" href="/">&leftarrow; Back To Home</a>
            </div>
        </div>
    </main>
    <%- include('include/footer') %>
</body>
</html>