<%- include('include/header') %>
    <title>Successful</title>
    <script src="/js/jquery.min.js"></script>
</head>
<body>
    <%- include('include/nav') %>
    <main>
        <div class="content " style="min-height: 100vh;">
            <div class="container">
                Already Registered
            </div>
        </div>
    </main>
    <%- include('include/footer') %>
</body>
</html>