<%- include('include/header') %>
    <title>Already Exist</title>
    <script src="/js/jquery.min.js"></script>
</head>
<body>
    <%- include('include/nav') %>
    <main>
        <div class="container" style="min-height: 100vh;">
            <div id="myModal" class="modal fade" data-bs-backdrop="static">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header bg-success">
                            <h5 class="modal-title text-white">Already Existed!</h5>
                            <!-- <a href="/" class="text-decoration-none text-white">&times;</a> -->
                            <input class="btn btn-outline-light" type="button" value="x" onclick="history.back()">
                        </div>
                        <div class="modal-body table">
                            You are already registered! You can check your email if you haven't confirm yet. Or You can track your application using your reference number
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include('include/footer') %>
</body>
<script>
    $(document).ready(function(){
        $("#myModal").modal('show');
    });
</script>
</html>