<%- include('include/header') %>
    <title>Search</title>
    <script src="/js/jquery.min.js"></script>
</head>
<body>
    <%- include('include/nav') %>
    <main>
        <div style="min-height: 100vh;">
            <p>You are successfully registered! please check your email to confirm your registration.</p>
        </div>
    </main>
    <%- include('include/footer') %>
</body>
</html>