<%- include('../../include/header') %>
    <title>Burial Assistance</title>

    <!-- asterisk -->
    <style>
        .required {
            color: red;
            margin-left: 5px;
        }
        .loading {
            border: 4px solid #f3f3f3;
            border-top: 4px solid #3498db;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            animation: spin 2s linear infinite;
            margin: 0 auto;
        }
        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
    </style>
</head>
<body>
    <%- include('../../include/nav') %>
    <main>
        <div class="container my-2 p-2">
            <h1 class="text-center">Burial Assistance Registration Form</h1>
            <div class="main-content">
                <form class="container-xl bg-light p-2 needs-validation" id="form" onload="hideLoading()" novalidate action="/burial-assistance/form" method="POST" >
                    <h4>IMPORMASYON UKOL SA KLIYENTE (Client's Identifying Information)</h4>
                    <div class="row mb-3 g-1">
                        <input type="text" name="service" value="Burial Assistance" hidden>
                        <div class="col-md-3">  
                            <label for="lastname" class="form-label">Apelyido (Last Name)<span class="required">*</span></label>
                            <input type="text" class="form-control textOnly" id="lastname" placeholder="e.g. Dela Cruz" aria-label="Last name" name="lastname" required>
                            <div class="invalid-feedback">
                            Please enter your last name.
                        </div>
                        </div>
                        <div class="col-md-3">  
                            <label for="firstname" class="form-label">Unang Pangalan (First Name)<span class="required">*</span></label>
                            <input type="text" class="form-control textOnly" id="lastname" placeholder="e.g. Juan" aria-label="First name" name="firstname" required>
                            <div class="invalid-feedback">
                                Please enter your first name.
                            </div>
                        </div>
                        <div class="col-md-3">  
                            <label for="middlename" class="form-label">Gitnang Pangalan (Middle Name)</label>
                            <input type="text" class="form-control textOnly" id="middlename" placeholder="e.g. Santos" aria-label="Middle name" name="middlename">
                        </div>
                        <div class="col-md-3">  
                            <label for="extensionname" class="form-label">Extension Name</label>
                            <input type="text" class="form-control textOnly" id="extensionname" placeholder="Jr./Sr." aria-label="Jr./Sr." name="exname">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-4">  
                            <label for="birthdate" class="form-label">Petsa ng Kapanganakan (Birthdate)<span class="required">*</span></label>
                            <input type="date" class="form-control" id="birthdate" name="birthdate" required>
                            <div class="invalid-feedback">
                                Please select your birthdate.
                            </div>
                        </div>
                        <div class="col-md-4">  
                            <label for="age" class="form-label">Edad (Age)<span class="required">*</span></label>
                            <input type="number" class="form-control" id="age" name="age" required>
                            <div class="invalid-feedback">
                                Please enter your age.
                            </div>
                        </div>
                        <div class="col-md-4">  
                            <label for="sex" class="form-label">Kasarian (Sex)<span class="required">*</span></label>
                            <div class="form-control">
                                <input type="radio" id="male" value="male" name="sex" required>
                                <label for="male">Male</label> 
                                <input type="radio" id="female" class="ms-3" value="female" name="sex" required>
                                <label for="female">Female</label>
                                <div class="invalid-feedback">
                                    Please select your sex.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">  
                            <label for="contact-number" class="form-label">Contact Number<span class="required">*</span></label>
                            <div class="input-group">
                                <span class="input-group-text">+63</span>
                                <input type="tel" class="form-control" id="contact-number" name="contact_number" minlength="10" maxlength="10" onkeypress="return isNumberKey(event)" required>
                                <div class="invalid-feedback">
                                    Please enter your valid contact number.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">  
                            <label for="email" class="form-label">Email<span class="required">*</span></label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="e.g. juandelacruz@gmail.com" required>
                            <div class="invalid-feedback">
                                Please enter your valid email address.
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="civil-status" class="form-label">Status Sibil (Civil Status)<span class="required">*</span></label>
                            <div class="form-control">
                                <input type="radio" id="civil-status" name="civil_status" value="Single" required> Single    
                                <input type="radio" id="civil-status" class="ms-4" name="civil_status" value="Widow/er" required> Widow/er<br>
                                <input type="radio" id="civil-status" name="civil_status" value="Married" required> Married
                                <input type="radio" id="civil-status" class="ms-3" name="civil_status" value="Other" required> Other
                                <div class="invalid-feedback">
                                    Please select your civil status.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6"> 
                            <label for="relationship" class="form-label">Relasyon sa Benepisyaryo (Relationship to Beneficiary)<span class="required">*</span></label>
                            <input type="text" id="relationship" class="form-control textOnly" name="beneficiary_relationship">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div >
                            <label for="address" class="form-label">Tirahan (Address)<span class="required">*</span></label>
                        </div>
                        <div class="col-md-3">
                            <input type="text" class="form-control" id="address" placeholder="No./Street/Purok" aria-label="No./Street/Purok" name="street" required>
                            <div class="invalid-feedback">
                                Please enter your No./Street/Purok.
                            </div>
                        </div>
                        <div class="col-md-3">
                            <select class="form-control" id="barangay" aria-label="Barangay" name="brgy" required>
                                <!-- <option value="" selected>-- Barangay --</option> -->
                                <option value="" disabled selected>-- Barangay --</option>
                                <option value="Aguado">Aguado</option>
                                <option value="Cabezas">Cabezas</option>
                                <option value="Cabuco">Cabuco</option>
                                <option value="Conchu">Conchu</option>
                                <option value="de Ocampo">de Ocampo</option>
                                <option value="Gregorio">Gregorio</option>
                                <option value="Inocencio">Inocencio</option>
                                <option value="Lallana">Lallana</option>
                                <option value="Lapidario">Lapidario</option>
                                <option value="Luciano">Luciano</option>
                                <option value="Osorio">Osorio</option>
                                <option value="Perez">Perez</option>
                                <option value="San Agustin">San Agustin</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select your barangay.
                            </div>
                        </div>
                        <div class="col-md-3">
                            <select class="form-control" id="municipality" aria-label="Municipality/City" name="municipal">
                                <option value="Trece Martires City">Trece Martires City</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <select class="form-control" id="province" aria-label="Province" name="province">
                                <option value="Cavite">Cavite</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">  
                            <label for="occupation" class="form-label">Trabaho (Occupation)<span class="required">*</span></label>
                            <input type="text" class="form-control textOnly" id="occupation" name="occupation" required>
                        </div>
                        <div class="col-md-6">  
                            <label for="salary" class="form-label">Buwanang Sweldo (Monthly Salary)<span class="required">*</span></label>
                            <!-- <input type="number" class="form-control" id="salary" name="salary" required> -->
                            <select class="form-control" id="salary" name="salary" required>
                                <option disabled selected>Please Select</option>
                                <option id="1" value="0-10,000">10,000 or Less</option>
                                <option id="2" value="10,000-20,000">10,000 - 20,000</option>
                                <option id="3" value="20,000-30,000">20,000 - 30,000</option>
                                <option id="4" value="30,000-50,000">30,000 - 50,000</option>
                                <option id="5" value="50,000-100,000">50,000 - 100,000</option>
                                <option id="6" value="100,000 and Above">100,000 and Above</option>
                                <option id="7" value="prefer not to say">Prefer not to say</option>
                            </select>
                        </div>
                    </div>
                    <br><br>
                    <h4>IMPORMASYON UKOL SA BENEPISYARYO (Beneficiary's Identifying Information)</h4>
                    <div class="row mb-3">
                        <div class="col-md-3">  
                            <label for="lastname" class="form-label">Apelyido (Last Name)<span class="required">*</span></label>
                            <input type="text" class="form-control textOnly" id="lastname" placeholder="e.g. Dela Cruz" aria-label="Last name" name="bene_lastname" required>
                            <div class="invalid-feedback">
                                Please enter Beneficiary's last name.
                            </div>
                        </div>
                        <div class="col-md-3">  
                            <label for="firstname" class="form-label">Unang Pangalan (First Name)<span class="required">*</span></label>
                            <input type="text" class="form-control textOnly" id="lastname" placeholder="e.g. Juan" aria-label="First name" name="bene_firstname" required>
                        </div>
                        <div class="col-md-3">  
                            <label for="middlename" class="form-label">Gitnang Pangalan (Middle Name)</label>
                            <input type="text" class="form-control textOnly" id="middlename" placeholder="e.g. Santos" aria-label="Middle name" name="bene_middlename">
                        </div>
                        <div class="col-md-3">  
                            <label for="extensionname" class="form-label">Extension Name</label>
                            <input type="text" class="form-control textOnly" id="extensionname" placeholder="Jr./Sr." aria-label="Jr./Sr." name="bene_exname">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-4">  
                            <label for="birthdate" class="form-label">Petsa ng Kapanganakan (Birthdate)<span class="required">*</span></label>
                            <input type="date" class="form-control" id="birthdate" name="bene_birthdate" required>
                        </div>
                        <div class="col-md-4">  
                            <label for="age" class="form-label">Edad (Age)<span class="required">*</span></label>
                            <input type="number" class="form-control" id="age " name="bene_age" required>
                        </div>
                        <div class="col-md-4">  
                            <label for="sex" class="form-label">Kasarian (Sex)<span class="required">*</span></label>
                            <div class="form-control">
                                <input type="radio" id="sex" name="bene_sex" value="Male" required> Male
                                <input type="radio" id="sex" class="ms-3" name="bene_sex" value="Female" required> Female
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">  
                            <label for="contact-number" class="form-label">Contact Number<span class="required">*</span></label>
                            <div class="input-group">
                                <span class="input-group-text">+63</span>
                                <input type="tel" class="form-control" id="contact-number " name="bene_contact_number" minlength=10 maxlength="10" onkeypress="return isNumberKey(event)" required>
                            </div>
                        </div>
                        <div class="col-md-6">  
                            <label for="civil-status" class="form-label">Status Sibil (Civil Status)<span class="required">*</span></label>
                            <div class="form-control">
                                <input type="radio" id="civil-status" name="bene_civil_status" value="Single" required> Single    
                                <input type="radio" id="civil-status" class="ms-4" name="bene_civil_status" value="Widow/er" required> Widow/er<br>
                                <input type="radio" id="civil-status" name="bene_civil_status" value="Married" required> Married
                                <input type="radio" id="civil-status" class="ms-3" name="bene_civil_status" value="Other" required> Other
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div >
                            <label for="address" class="form-label">Tirahan (Address)<span class="required">*</span></label>
                        </div>
                        <div class="col-md-3">
                            <input type="text" class="form-control" id="address" placeholder="No./Street/Purok" aria-label="No./Street/Purok" name="bene_street" required>
                        </div>
                        <div class="col-md-3">
                            <!-- <input type="text" class="form-control" id="address" placeholder="Barangay" aria-label="Barangay"> -->
                            <select class="form-control" id="barangay" aria-label="Barangay" name="bene_brgy" required>
                                <!-- <option value="" selected>-- Barangay --</option> -->
                                <option value="" disabled selected>-- Barangay --</option>
                                <option value="Aguado">Aguado</option>
                                <option value="Cabezas">Cabezas</option>
                                <option value="Cabuco">Cabuco</option>
                                <option value="Conchu">Conchu</option>
                                <option value="de Ocampo">de Ocampo</option>
                                <option value="Gregorio">Gregorio</option>
                                <option value="Inocencio">Inocencio</option>
                                <option value="Lallana">Lallana</option>
                                <option value="Lapidario">Lapidario</option>
                                <option value="Luciano">Luciano</option>
                                <option value="Osorio">Osorio</option>
                                <option value="Perez">Perez</option>
                                <option value="San Agustin">San Agustin</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <!-- <input type="text" class="form-control" id="address" placeholder="Municipality/City" aria-label="Municipality/City"> -->
                            <select class="form-control" id="municipality" aria-label="Municipality/City" name="bene_municipal">
                                <option value="Trece Martires City" selected>Trece Martires City</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <!-- <input type="text" class="form-control" id="address" placeholder="Province" aria-label="Province"> -->
                            <select class="form-control" id="province" aria-label="Province" name="bene_province">
                                <option value="Cavite" selected>Cavite</option>
                            </select>
                        </div>
                    </div>
                    <br><br>
                    <h4>KOMPOSISYON NG PAMILYA</h4>
                    <div>
                        <label for="">Family Members</label>
                    </div>
                    <div class="row mb-3">
                        <label for="">I.</label>
                        <div class="col-md-4">  
                            <input type="text" class="form-control textOnly" id="c-name" name="family_name" placeholder="Buong Pangalan (Full Name)">
                        </div>
                        <div class="col-md-2">  
                            <input type="number" class="form-control" id="c-age" name="family_age" placeholder="Edad (Age)">
                        </div>
                        <div class="col-md-3"> 
                            <input type="text" class="form-control textOnly" id="c-occupation" name="family_occupation" placeholder="Trabaho (Occupation)">
                        </div>
                        <div class="col-md-3"> 
                            <input type="number" class="form-control" id="c-salary" name="family_salary" placeholder="Buwanang Sahod">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="">II.</label>
                        <div class="col-md-4">  
                            <input type="text" class="form-control textOnly" id="c-name" name="family_name" placeholder="Buong Pangalan (Full Name)">
                        </div>
                        <div class="col-md-2">  
                            <input type="number" class="form-control" id="c-age" name="family_age" placeholder="Edad (Age)">
                        </div>
                        <div class="col-md-3"> 
                            <input type="text" class="form-control textOnly" id="c-occupation" name="family_occupation" placeholder="Trabaho (Occupation)">
                        </div>
                        <div class="col-md-3"> 
                            <input type="number" class="form-control" id="c-salary" name="family_salary" placeholder="Buwanang Sahod">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="">III.</label>
                        <div class="col-md-4">  
                            <input type="text" class="form-control textOnly" id="c-name" name="family_name" placeholder="Buong Pangalan (Full Name)">
                        </div>
                        <div class="col-md-2">  
                            <input type="number" class="form-control" id="c-age" name="family_age" placeholder="Edad (Age)">
                        </div>
                        <div class="col-md-3"> 
                            <input type="text" class="form-control textOnly" id="c-occupation" name="family_occupation" placeholder="Trabaho (Occupation)">
                        </div>
                        <div class="col-md-3"> 
                            <input type="number" class="form-control" id="c-salary" name="family_salary" placeholder="Buwanang Sahod">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="">IV.</label>
                        <div class="col-md-4">  
                            <input type="text" class="form-control textOnly" id="c-name" name="family_name" placeholder="Buong Pangalan (Full Name)">
                        </div>
                        <div class="col-md-2">  
                            <input type="number" class="form-control" id="c-age" name="family_age" placeholder="Edad (Age)">
                        </div>
                        <div class="col-md-3"> 
                            <input type="text" class="form-control textOnly" id="c-occupation" name="family_occupation" placeholder="Trabaho (Occupation)">
                        </div>
                        <div class="col-md-3"> 
                            <input type="number" class="form-control" id="c-salary" name="family_salary" placeholder="Buwanang Sahod">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="">V.</label>
                        <div class="col-md-4">  
                            <input type="text" class="form-control textOnly" id="c-name" name="family_name" placeholder="Buong Pangalan (Full Name)">
                        </div>
                        <div class="col-md-2">  
                            <input type="number" class="form-control" id="c-age" name="family_age" placeholder="Edad (Age)">
                        </div>
                        <div class="col-md-3"> 
                            <input type="text" class="form-control textOnly" id="c-occupation" name="family_occupation" placeholder="Trabaho (Occupation)">
                        </div>
                        <div class="col-md-3"> 
                            <input type="number" class="form-control" id="c-salary" name="family_salary" placeholder="Buwanang Sahod">
                        </div>
                    </div>
                    <div class="mb-2">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                          <label class="form-check-label" for="invalidCheck">
                            Agree to terms and conditions.
                          </label>
                          <div class="invalid-feedback">
                            You must agree before submitting.
                          </div>
                        </div>
                    </div>
                    <button type="submit" class="form-control btn btn-success">Submit</button>
                </form>
                <div class="loader">
                    <div id="loading" class="loading" style="display: none;"></div>
                </div>
            </div>
        </div>
    </main>
    <!-- form validation -->
    <%- include('../../include/footer') %>
    <script>
        (() => {
        'use strict'
        const forms = document.querySelectorAll('.needs-validation')
        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
            if (!form.checkValidity()) {
                event.preventDefault()
                event.stopPropagation()
                alert("Please fill out all the required information.");
            }
            else{
                alert("Are you sure you want to submit this form?");
            }
            form.classList.add('was-validated')
            }, false)
        })
        })()
    </script>
    <!-- loading script -->
    <script>
        function showLoading() {
            document.getElementById("loading").style.display = "block";
            // document.getElementById('form').style.filter = "blur(10px);"
        }
        function hideLoading() {
            document.getElementById("loading").style.display = "none";
        }
    </script>
</body>
</html>