<%- include('../../include/header') %>
    <title>Transportation Assistance</title>
    <style>
        .required {
            color: red;
            margin-left: 5px;
        }
    </style>
    <link rel="stylesheet" href="/css/loader.css">
</head>
<body>
    <%- include('../../include/nav') %>
    <main>
        <div class="container my-2 p-2">
            <h1 class="text-center">Transportation Assistance Registration Form</h1>
            <div class="main-content">
                <form action="/transportation-assistance/form" method="POST" id="form" onload="hideLoading()" class="container-xl bg-light p-2 needs-validation" novalidate>
                    <h4>IMPORMASYON UKOL SA KLIYENTE (Client's Identifying Information)</h4>
                    <div class="row mb-1">
                        <input type="text" name="service" value="Transportation Assistance" hidden>
                        <div class="col-md-3 mb-2">  
                            <label for="lastname" class="form-label">Apelyido (Last Name)<span class="required">*</span></label>
                            <input type="text" class="form-control textOnly" id="lastname" placeholder="e.g. Dela Cruz" aria-label="Last name" name="lastname" required>
                            <div class="invalid-feedback">
                            Please enter your last name.
                        </div>
                        </div>
                        <div class="col-md-3 mb-2">  
                            <label for="firstname" class="form-label">Unang Pangalan (First Name)<span class="required">*</span></label>
                            <input type="text" class="form-control textOnly" id="lastname" placeholder="e.g. Juan" aria-label="First name" name="firstname" required>
                            <div class="invalid-feedback">
                                Please enter your first name.
                            </div>
                        </div>
                        <div class="col-md-3 mb-2">  
                            <label for="middlename" class="form-label">Gitnang Pangalan (Middle Name)</label>
                            <input type="text" class="form-control textOnly" id="middlename" placeholder="e.g. Santos" aria-label="Middle name" name="middlename">
                        </div>
                        <div class="col-md-3 mb-2">  
                            <label for="extensionname" class="form-label">Extension Name</label>
                            <input type="text" class="form-control textOnly" id="extensionname" placeholder="Jr./Sr." aria-label="Jr./Sr." name="exname">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-2">  
                            <label for="birthdate" class="form-label">Petsa ng Kapanganakan (Birthdate)<span class="required">*</span></label>
                            <input type="date" class="form-control" id="birthdate" name="birthdate" required>
                            <div class="invalid-feedback">
                                Please select your birthdate.
                            </div>
                        </div>
                        <!-- <div class="col-md-4 mb-2">  
                            <label for="age" class="form-label">Edad (Age)</label>
                            <input type="number" class="form-control" id="age" name="age">
                        </div> -->
                        <div class="col-md-6 mb-2">  
                            <label for="sex" class="form-label">Kasarian (Sex)<span class="required">*</span></label>
                            <select class="form-control" id="sex" aria-label="Sex" name="sex" required>
                                <option value="" disabled selected>Please Select</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select your sex.
                            </div>
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-md-6 mb-2">  
                            <label for="contact-number" class="form-label">Contact Number<span class="required">*</span></label>
                            <div class="input-group">
                                <span class="input-group-text">+63</span>
                                <input type="tel" class="form-control" id="contact-number" name="contact_number" minlength="10" maxlength="10" onkeypress="return isNumberKey(event)" required>
                                <div class="invalid-feedback">
                                    Please enter your valid contact number.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-2">  
                            <label for="email" class="form-label">Email<span class="required">*</span></label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="e.g. juandelacruz@gmail.com" required>
                            <div class="invalid-feedback">
                                Please enter your valid email address.
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-2">
                            <label for="civil-status" class="form-label">Status Sibil (Civil Status)<span class="required">*</span></label>
                            <select class="form-control" id="civil_status" aria-label="civil_status" name="civil_status" required>
                                <option value="" disabled selected>Please Select</option>
                                <option value="Single">Single</option>
                                <option value="Married">Married</option>
                                <option value="Widow/er">Widow/er</option>
                                <option value="Other">Other</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select your civil status.
                            </div>
                        </div>
                        <div class="col-md-6 mb-2"> 
                            <label for="relationship" class="form-label">Relasyon sa Benepisyaryo (Relationship to Beneficiary)<span class="required">*</span></label>
                            <input type="text" id="relationship" class="form-control textOnly" name="beneficiary_relationship">
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div >
                            <label for="address" class="form-label">Tirahan (Address)<span class="required">*</span></label>
                        </div>
                        <div class="col-md-3 mb-1" >
                            <input type="text" class="form-control" id="address" placeholder="No./Street/Purok" aria-label="No./Street/Purok" name="street" required>
                            <div class="invalid-feedback">
                                Please enter your No./Street/Purok.
                            </div>
                        </div>
                        <div class="col-md-3 mb-1">
                            <select class="form-control" id="barangay" aria-label="Barangay" name="brgy" required>
                                <option value="" disabled selected>-- Barangay --</option>
                                <option value="Aguado">Aguado</option>
                                <option value="Cabezas">Cabezas</option>
                                <option value="Cabuco">Cabuco</option>
                                <option value="Conchu">Conchu</option>
                                <option value="de Ocampo">de Ocampo</option>
                                <option value="Gregorio">Gregorio</option>
                                <option value="Inocencio">Inocencio</option>
                                <option value="Lallana">Lallana</option>
                                <option value="Lapidario">Lapidario</option>
                                <option value="Luciano">Luciano</option>
                                <option value="Osorio">Osorio</option>
                                <option value="Perez">Perez</option>
                                <option value="San Agustin">San Agustin</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select your barangay.
                            </div>
                        </div>
                        <div class="col-md-3 mb-1">
                            <select class="form-control" id="municipality" aria-label="Municipality/City" name="municipal">
                                <option value="Trece Martires City">Trece Martires City</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <select class="form-control" id="province" aria-label="Province" name="province">
                                <option value="Cavite">Cavite</option>
                            </select>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-6 mb-2">  
                            <label for="occupation" class="form-label">Trabaho (Occupation)<span class="required">*</span></label>
                            <input type="text" class="form-control textOnly" id="occupation" name="occupation" required>
                            <div class="invalid-feedback">
                                Please enter your occupation or NONE.
                            </div>
                        </div>
                        <div class="col-md-6 mb-4">  
                            <label for="salary" class="form-label">Buwanang Sweldo (Monthly Salary)<span class="required">*</span></label>
                            <!-- <input type="number" class="form-control" id="salary" name="salary" required> -->
                            <select class="form-control" id="salary" name="salary" required>
                                <option value="" disabled selected>Please Select</option>
                                <option id="1" value="0-10,000">10,000 or Less</option>
                                <option id="2" value="10,000-20,000">10,000 - 20,000</option>
                                <option id="3" value="20,000-30,000">20,000 - 30,000</option>
                                <option id="4" value="30,000-50,000">30,000 - 50,000</option>
                                <option id="5" value="50,000-100,000">50,000 - 100,000</option>
                                <option id="6" value="100,000 and Above">100,000 and Above</option>
                                <option id="7" value="prefer not to say">Prefer not to say</option>
                            </select>
                        </div>
                    </div>
                    <h4>IMPORMASYON UKOL SA BENEPISYARYO (Beneficiary's Identifying Information)</h4>
                    <div class="mb-3">
                        <input type="checkbox" name="same" id="myCheck" onclick="copyInfo()">
                        <label for="same">Parehas ng sa Kliyente (Same as Client).</label> 
                    </div>
                    <div id="show" style="display:block">
                        <div class="row">
                            <div class="col-md-3 mb-2">  
                                <label for="bene_lastname" class="form-label">Apelyido (Last Name)<span class="required">*</span></label>
                                <input type="text" class="form-control textOnly toDisableRequired" id="bene_lastname" placeholder="e.g. Dela Cruz" aria-label="Last name" name="bene_lastname" required>
                                <div class="invalid-feedback">
                                    Please enter last name.
                                </div>
                            </div>
                            <div class="col-md-3 mb-2">  
                                <label for="bene_firstname" class="form-label">Unang Pangalan (First Name)<span class="required">*</span></label>
                                <input type="text" class="form-control textOnly toDisableRequired" id="bene_firstname" placeholder="e.g. Juan" aria-label="First name" name="bene_firstname" required>
                                <div class="invalid-feedback">
                                    Please enter first name.
                                </div>
                            </div>
                            <div class="col-md-3 mb-2">  
                                <label for="bene_middlename" class="form-label">Gitnang Pangalan (Middle Name)</label>
                                <input type="text" class="form-control textOnly toDisableRequired" id="bene_middlename" placeholder="e.g. Santos" aria-label="Middle name" name="bene_middlename">
                            </div>
                            <div class="col-md-3 mb-2">  
                                <label for="bene_exname" class="form-label">Extension Name</label>
                                <input type="text" class="form-control textOnly" id="bene_exname" placeholder="Jr./Sr." aria-label="Jr./Sr." name="bene_exname">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-2">  
                                <label for="bene_birthdate" class="form-label">Petsa ng Kapanganakan (Birthdate)<span class="required">*</span></label>
                                <input type="date" class="form-control toDisableRequired" id="bene_birthdate" name="bene_birthdate" required>
                                <div class="invalid-feedback">
                                    Please select or enter birthdate.
                                </div>
                            </div>
                            <!-- <div class="col-md-4 mb-2">  
                                <label for="bene_age" class="form-label">Edad (Age)</label>
                                <input type="number" class="form-control toDisableRequired" id="bene_age" name="bene_age">
                            </div> -->
                            <div class="col-md-6 mb-2">  
                                <label for="bene_sex" class="form-label">Kasarian (Sex)<span class="required">*</span></label>
                                <select class="form-control toDisableRequired" name="bene_sex" id="bene_sex" required>
                                    <option value="" disabled selected>Please Select</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>
                                <div class="invalid-feedback">
                                    Please select sex.
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-md-6 mb-2">  
                                <label for="bene_contact_number" class="form-label">Contact Number<span class="required">*</span></label>
                                <div class="input-group">
                                    <span class="input-group-text">+63</span>
                                    <input type="tel" class="form-control toDisableRequired" id="bene_contact_number" name="bene_contact_number" minlength=10 maxlength="10" onkeypress="return isNumberKey(event)" required>
                                    <div class="invalid-feedback">
                                        Please enter contact number.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-2">  
                                <label for="bene_civil_status" class="form-label">Status Sibil (Civil Status)<span class="required">*</span></label>
                                <select class="form-control toDisableRequired" id="bene_civil_status" aria-label="bene_civil_status" name="bene_civil_status" required>
                                    <option value="" disabled selected>Please Select</option>
                                    <option value="Single">Single</option>
                                    <option value="Married">Married</option>
                                    <option value="Widow/er">Widow/er</option>
                                    <option value="Other">Other</option>
                                </select>
                                <div class="invalid-feedback">
                                    Please select civil status.
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div >
                                <label for="bene_street" class="form-label">Tirahan (Address)<span class="required">*</span></label>
                            </div>
                            <div class="col-md-3 mb-1">
                                <input type="text" class="form-control toDisableRequired" id="bene_street" placeholder="No./Street/Purok" aria-label="No./Street/Purok" name="bene_street" required>
                                <div class="invalid-feedback">
                                    Please enter address.
                                </div>
                            </div>
                            <div class="col-md-3 mb-1">
                                <select class="form-control toDisableRequired" id="bene_brgy" aria-label="Barangay" name="bene_brgy" required>
                                    <option value="" disabled selected>-- Barangay --</option>
                                    <option value="Aguado">Aguado</option>
                                    <option value="Cabezas">Cabezas</option>
                                    <option value="Cabuco">Cabuco</option>
                                    <option value="Conchu">Conchu</option>
                                    <option value="de Ocampo">de Ocampo</option>
                                    <option value="Gregorio">Gregorio</option>
                                    <option value="Inocencio">Inocencio</option>
                                    <option value="Lallana">Lallana</option>
                                    <option value="Lapidario">Lapidario</option>
                                    <option value="Luciano">Luciano</option>
                                    <option value="Osorio">Osorio</option>
                                    <option value="Perez">Perez</option>
                                    <option value="San Agustin">San Agustin</option>
                                </select>
                                <div class="invalid-feedback">
                                    Please select barangay.
                                </div>
                            </div>
                            <div class="col-md-3 mb-1">
                                <select class="form-control toDisableRequired" id="bene_municipal" aria-label="Municipality/City" name="bene_municipal">
                                    <option value="Trece Martires City" selected>Trece Martires City</option>
                                </select>
                            </div>
                            <div class="col-md-3 mb-4">
                                <select class="form-control toDisableRequired" id="bene_province" aria-label="Province" name="bene_province">
                                    <option value="Cavite" selected>Cavite</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <h4 class="mt-1">KOMPOSISYON NG PAMILYA</h4>
                    <div>
                        <label for="">Family Members</label>
                    </div>
                    <div>
                        <label>1.</label>
                    </div>
                    <div id="familyMember" >
                        <div class="row mb-2">
                            <div id="addNum"></div>
                            <div class="col-md-4 mb-1">  
                                <input type="text" class="form-control textOnly" id="c-name" name="family_name" placeholder="Buong Pangalan (Full Name)">
                            </div>
                            <div class="col-md-2 mb-1">  
                                <input type="number" class="form-control" id="c-age" name="family_age" placeholder="Edad (Age)">
                            </div>
                            <div class="col-md-3 mb-1"> 
                                <input type="text" class="form-control textOnly" id="c-occupation" name="family_occupation" placeholder="Trabaho (Occupation)">
                            </div>
                            <div class="col-md-3 mb-1"> 
                                <input type="number" class="form-control" id="c-salary" name="family_salary" placeholder="Buwanang Sahod">
                            </div>
                        </div>
                    </div>
                    <div id="additionalFamilyMember"></div>
                    <div class="row">
                        <div id="add" class="col-md-3 mb-1" >
                            <a class="btn btn-outline-success w-100" onclick="addFamMem()">+ add family member</a>
                        </div>
                        <div id="del" class="col-md-3 mb-3" style="display: none;">
                            <a class="btn btn-outline-success  w-100" onclick="delFamMem()">- reduce family member</a>
                        </div>
                    </div>
                    <div class="mb-2">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                          <label class="form-check-label" for="invalidCheck">
                            Agree to terms and conditions.
                          </label>
                          <div class="invalid-feedback">
                            You must agree before submitting.
                          </div>
                        </div>
                    </div>
                    <button type="submit" class="form-control btn btn-success" onclick="showLoading()">Submit</button>
                </form>
                <div class="loader">
                    <div id="loading" class="loading" style="display: none;"></div>
                </div>
            </div>
        </div>
    </main>
    <!-- form validation -->
    <%- include('../../include/footer') %>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/input-query.js"></script>
    <script src="/js/form_validation.js"></script>
    <script src="/js/add-delete.js"></script>
</body>
</html>