.btn :hover{
    background-color: #e2f0d9;
}
.dropdown-menu li{
    position: relative;
}
.dropdown-menu .submenu{
    display: none;
    position: absolute;
    left: 100%;
    top:-7px;
}
.dropdown-menu>li:hover>.submenu{
    display: block;
}