.req-main{
    background-color: rgb(255, 255, 255);
    text-align: center;
    /* padding: 5px; */
    width: 60%;
    margin: auto;
    
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.req-main div:nth-of-type(1){
    margin-bottom: 15px;
}
.req-title{
    font-size: 2.5rem;
    font-weight: bold;
}
.req-definition{
    font-size: 1rem;
}
.req-list-title{
    font-size: 1.3rem;
    font-weight: bold;
}
.req-list{
    text-align: left;
    font-size: 1rem;
}
@media(max-width: 1000px){
    .req-main{
        width: 90%;
    }
    .req-title{
        font-size: 1.5rem;
    }
    .req-definition{
        font-size: .8rem;
    }
    .req-list-title{
        font-size: 1rem;
    }
    .req-list{
        font-size: .8rem;
    }
}