.navigation-bar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #2B7858;
    z-index: 2;
}
.navig{
    position:fixed;
    top: 8.5%;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #fff;
    z-index: 1;
    /* height: 10%; */
    padding-top: .6%;
}