<script src="/js/jquery.min.js"></script>
<!-- script for input security -->
<script src="/js/input-query.js"></script>
  <footer>
    <div class="bg">
      <div class="box">
        <li class="fw-bold">C S W D</li>
        <li><a href="">About Us</a></li>
        <li><a href="">Location</a></li>
        <li><a href=""> FAQ's</a></li>
        <li><a href=""> Back to top</a></li>
      </div>
      <div class="box">
        <li class="fw-bold">Contacts</li>
        <li><a>09123456789</a></li>
        <li><a href="">Facebook</a></li>
        <li><a href="">Gmail</a></li>
      </div>
      <div class="box">
        <li class="fw-bold">Related Services</li>
        <li><a href="">Trece Martires City Website</a></li>
      </div>
      <div class="box">
        <li class="fw-bold">Policies<li>
        <li><a href="">Terms and Conditions</a></li>
        <li><a href="">Privacy Policy</a></li>
      </div>
    </div>
    <div class="copyright py-1 text-center" >
      <span>
        &copy; 2023. City Social Welfare and Development. All Rights Reserved.
      </span>
    </div>
  </footer>