<nav class="navbar bg-body-tertiary p-0">
    <div class="container-fluid form-control-lg p-2" style="width: 100%;">
        <form class="d-flex" role="search" action="/a/search-application" method="GET">
            <input class="form-control col-md-8" type="search" placeholder="search name or reference number" aria-label="Search" name="result">
            <button class="btn btn-outline-success me-2 ms-2" type="submit">Search</button>
        </form>
        <a href="/a/application-archive" class="btn btn-outline-success">Archives</a>
    </div>
</nav>