<nav class="navbar bg-body-tertiary p-0">
    <div class="container-fluid form-control-lg pe-0" style="width: 100%;">
        <div class="col-md-6">
            <% if(opt == 'activate') { %>
                <form action="/a/appointment-deactivate" method="POST">
                    <button class="btn btn-outline-danger">deactivate</button>
                </form>
            <% }else if(opt == 'deactivate') { %>
                <form action="/a/appointment-activate" method="POST">
                    <button class="btn btn-outline-success">activate</button>
                </form>
            <% } %>
        </div>
        <div class="col-md-6">
            <form class="d-flex" role="search" action="/a/search-appointment" method="GET">
                <input class="form-control me-2 ms-2" type="search" placeholder="search name or reference number" aria-label="Search" name="result">
                <button class="btn btn-outline-success me-2 ms-2" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>