<%- include('../include/header') %>
    <link rel="stylesheet" href="/css/requirement.css">
    <title>Burial Assistance</title>
</head>
<body>
    <%- include('../include/nav') %>
    <main class="req-main">
        <h1 class="req-title">Burial Assistance</h1>
        <div>
            <p class="req-definition">The assistance to defray funeral and other related expenses in bringing the remains of the deceased to their provinces.</p>
        </div>
        <div class="req-list">
            <h2 class="req-list-title">List of Requirements</h2>
            <ul>
                <!-- <li>Get Intake sheet? get through this link -> <a class="btn btn-success" href="/u/medical-assistance/form">here</a></li> -->
                <li>To get the General Intake Sheet, Register through this link <a class="btn btn-success" href="/burial-assistance/form">here</a></li>
                <li>Barangay Clearance/Certificate and Barangay Indigency (1 original)</li>
                <li>Barangay Certificate of the deceased person (1 original or certified true copy)</li>
                <li>Original Copy of Funeral Contract</li>
                <li>Voter's ID/COMELEC Certification of both claimant and deceased person (bring original and 1 photocopy)</li>
                <li>Senior Citizen and PWD ID (for those who avail funeral services at TMMP Funeral Services - FREE of charge) (bring original and 1 photocopy)</li>
                <li>Personal Letter of Request for Burial/Funeral Assistance Addressed to the Mayor.</li>
            </ul>
        </div>
        <div>
            <div>
                <button class="btn btn-primary">Proceed</button>
            </div>
        </div>
        
        <div class="step" style="width: 100%;">
            <span class="btn btn-outline-primary">Step 1</span>
            <img src="/img/step1.png" alt="" style="aspect-ratio: 2/1; width: 90%; margin: 20px 0px;">
            <span class="btn btn-outline-primary">Step 2</span>
            <img src="/img/step2.png" alt="" style="aspect-ratio: 2/1; width: 90%; margin: 20px 0px;">
            <span class="btn btn-outline-primary">Step 3</span>
            <img src="/img/step3.png" alt="" style="aspect-ratio: 2/1; width: 90%; margin: 20px 0px;">
            <span class="btn btn-outline-primary">Step 4</span>
            <img src="/img/step4.png" alt="" style="aspect-ratio: 2/1; width: 90%; margin: 20px 0px;">
        </div>
    </main>
    <%- include('../include/footer') %>
</body>
</html>