<%- include('../include/header') %>
    <link rel="stylesheet" href="/css/requirement.css">
    <title>Burial Assistance</title>
</head>
<body>
    <%- include('../include/nav') %>
    <main class="req-main mt-2 mb-2">
        <div class="container" style="height: fit-content;">
            <h1 class="req-title">Burial Assistance</h1>
            <div>
                <p class="req-definition">The assistance to defray funeral and other related expenses in bringing the remains of the deceased to their provinces.</p>
            </div>
            <div class="req-list">
                <h2 class="req-list-title">List of Requirements</h2>
                <ul>
                    <li>General Intake Sheet (Proceed to registration to download your General Intake Sheet)</a></li>
                    <li>Barangay Clearance/Certificate and Barangay Indigency (1 original)</li>
                    <li>Barangay Certificate of the deceased person (1 original or certified true copy)</li>
                    <li>Original Copy of Funeral Contract</li>
                    <li>Voter's ID/COMELEC Certification of both claimant and deceased person (bring original and 1 photocopy)</li>
                    <li>Senior Citizen and PWD ID (for those who avail funeral services at TMMP Funeral Services - FREE of charge) (bring original and 1 photocopy)</li>
                    <li>Personal Letter of Request for Burial Assistance Addressed to the Mayor.</li>
                </ul>
            </div>
            <a href="/burial-assistance/form">
                <button class="btn btn-primary">Proceed to Registration</button>
            </a>
        </div>
        <hr>
        <!-- <div>
            <h3>How to Apply?</h3>
            <div>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae modi enim, dolor asperiores ea quo repellendus quaerat id temporibus ipsa harum assumenda sunt! Libero asperiores velit odit sed ab tempora culpa, delectus amet rem suscipit natus. Dolorem molestias ab blanditiis.</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae modi enim, dolor asperiores ea quo repellendus quaerat id temporibus ipsa harum assumenda sunt! Libero asperiores velit odit sed ab tempora culpa, delectus amet rem suscipit natus. Dolorem molestias ab blanditiis.</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae modi enim, dolor asperiores ea quo repellendus quaerat id temporibus ipsa harum assumenda sunt! Libero asperiores velit odit sed ab tempora culpa, delectus amet rem suscipit natus. Dolorem molestias ab blanditiis.</p>
            </div>
        </div> -->
    </main>
    <%- include('../include/footer') %>
</body>
</html>