<%- include('../include/header') %>
    <link rel="stylesheet" href="/css/requirement.css">
    <title>Emergency Shelter Assistance</title>
</head>
<body>
    <%- include('../include/nav') %>
    <main class="req-main">
        <h1 class="req-title">This is Emergency Shelter Assistance</h1>
        <div>
            <p class="req-definition">This is provided to client who are victims of natural or man-made disaster where houses are either partially or totally damaged, fire victims.</p> 
        </div>
        <div class="req-list">
            <h2 class="req-list-title" >List of Requirements</h2>
            <ul>
                <!-- <li>Get Intake sheet? get through this link -> <a class="btn btn-success" href="/u/medical-assistance/form">here</a></li> -->
                <li><a href="/emergency-shelter-assistance/form">General Intake Sheet (Register and Download)</a></li>
            </ul>
        </div>
        <div>
            <div>
                <!-- <button class="btn btn-primary">Proceed</button> -->
            </div>
        </div>
    </main>
    <%- include('../include/footer') %>
</body>
</html>