<%- include('../include/header') %>
    <link rel="stylesheet" href="/css/requirement.css">
    <title>Emergency Shelter Assistance</title>
</head>
<body>
    <%- include('../include/nav') %>
    <main class="req-main mt-2 mb-2">
        <div class="container" style="height: fit-content;">
            <h1 class="req-title">This is Emergency Shelter Assistance</h1>
            <div>
                <p class="req-definition">This is provided to client who are victims of natural or man-made disaster where houses are either partially or totally damaged, fire victims.</p> 
            </div>
            <div class="req-list">
                <h2 class="req-list-title" >List of Requirements</h2>
                <ul>
                    <!-- <li>Get Intake sheet? get through this link -> <a class="btn btn-success" href="/u/medical-assistance/form">here</a></li> -->
                    <li><a href="/emergency-shelter-assistance/form">General Intake Sheet (Register and Download)</a></li>
                </ul>
            </div>
            <a href="/emergency-shelter-assistance/form">
                <button class="btn btn-primary">Proceed</button>
            </a>
        </div>
        <hr>
        <!-- <div>
            <h3>How to Apply?</h3>
            <div>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae modi enim, dolor asperiores ea quo repellendus quaerat id temporibus ipsa harum assumenda sunt! Libero asperiores velit odit sed ab tempora culpa, delectus amet rem suscipit natus. Dolorem molestias ab blanditiis.</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae modi enim, dolor asperiores ea quo repellendus quaerat id temporibus ipsa harum assumenda sunt! Libero asperiores velit odit sed ab tempora culpa, delectus amet rem suscipit natus. Dolorem molestias ab blanditiis.</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae modi enim, dolor asperiores ea quo repellendus quaerat id temporibus ipsa harum assumenda sunt! Libero asperiores velit odit sed ab tempora culpa, delectus amet rem suscipit natus. Dolorem molestias ab blanditiis.</p>
            </div>
        </div> -->
    </main>
    <%- include('../include/footer') %>
</body>
</html>