<%- include('../include/header') %>
    <link rel="stylesheet" href="/css/requirement.css">
    <title>Medical Assistance</title>
</head>
<body>
    <%- include('../include/nav') %>
    <main class="req-main mt-2 mb-2">
        <div class="container" style="height: fit-content;">
            <h1 class="req-title">Medical Assistance</h1>
            <div>
                <p class="req-definition">Medical Assistance is the assistance to help shoulder hospitalization expenses, cost of medicines and other medical treatment or processes and provision of assistance device. Other medical expenses such as professional fees may be covered.</p>
            </div>
            <div class="req-list">
                <h2 class="req-list-title">List of Requirements</h2>
                <ul>
                    <!-- <li>Get Intake sheet? get through this link -> <a class="btn btn-success" href="/u/medical-assistance/form">here</a></li> -->
                    <li><a href="/medical-assistance/form">General Intake Sheet (Register and Download)</a></li>
                    <li>Personal Letter of Request for Medical Assistance Addressed to the Mayor.</li>
                    <li>Barangay Clearance/Barangay Certificate and Indigency of the Client and Claimant (1 original)</li>
                    <li>Clinical Abstract/Medical Certificate with Signature and License Number of Attending Physician (issued within 3months) (1 original or certified true copy)</li>
                    <li>If confined - Statement of Account (SOA) for Hospital Bill (bring original or certified true copy)</li>
                    <li>Out Patient - Prescribed Medicines (bring original and photocopy with quotation) Laboratory request (for procedure and examination) (bring original and 1 photocopy with quotation)
                    </li>
                    <li>Treatment Protocol - amount of treatment (hemodialysis, chemotherapy, operation etc.) (bring original and 1 photocopy)</li>
                    <li>Voter's ID or Comelec Certification (bring original and 1 photocopy)</li>
                    <li>General Intake Sheet (CSWDO Form) and Certificate of Eligibility</li>
                </ul>
            </div>
            <a href="/medical-assistance/form">
                <button class="btn btn-primary">Proceed</button>
            </a>
        </div>
        <hr>
        <!-- <div>
            <h3>How to Apply?</h3>
            <div>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae modi enim, dolor asperiores ea quo repellendus quaerat id temporibus ipsa harum assumenda sunt! Libero asperiores velit odit sed ab tempora culpa, delectus amet rem suscipit natus. Dolorem molestias ab blanditiis.</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae modi enim, dolor asperiores ea quo repellendus quaerat id temporibus ipsa harum assumenda sunt! Libero asperiores velit odit sed ab tempora culpa, delectus amet rem suscipit natus. Dolorem molestias ab blanditiis.</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae modi enim, dolor asperiores ea quo repellendus quaerat id temporibus ipsa harum assumenda sunt! Libero asperiores velit odit sed ab tempora culpa, delectus amet rem suscipit natus. Dolorem molestias ab blanditiis.</p>
            </div>
        </div> -->
    </main>
    <%- include('../include/footer') %>
    <script>
        let response = '<%- response %>'
        console.log(response)
        if(response == 'registered'){
            alert('Already Registered')
        }
    </script>
</body>
</html>