<%- include('../include/header') %>
    <link rel="stylesheet" href="/css/requirement.css">
    <title>Transportation Assistance</title>
</head>
<body>
    <%- include('../include/nav') %>
    <main class="req-main">
        <h1 class="req-title">Transportation Assistance</h1>
        <div>
            <p class="req-definition">Assistance for the purchase or payment of transportation ticket to enable them to return to their home province permanently, strandees due to typoon, victims of illegal recruitment and victim of pick pocket.</p>
            
        </div>
        <div class="req-list">
            <h2 class="req-list-title">List of Requirements</h2>
            <ul>
                <!-- <li>Get Intake sheet? get through this link -> <a class="btn btn-success" href="/u/medical-assistance/form">here</a></li> -->
                <li>register and create your form <a class="btn btn-success" href="/transportation-assistance/form">here</a></li>
                <li>Barangay Clearance/Barangay Certificate and Barangay Indigency (1 original) </li>
                <li>Any VAlid ID of the client (much better if they have ID addressed to their province) (bring original and 1 photocopy)</li>
                <li>Police blotter (victim of illigal re cruitment, victims of pick pockets, strandees during typoon (1 original)</li>
                <li>Personal Letter of Request for Burial/Funeral Assistance Addressed to Mayor.</li>
                <li>General Intake Sheet (CSWDO Form) and Certificate of Eligibility (1 original)</li>
            </ul>
        </div>
        <div>
            <div>
                <button class="btn btn-primary">Proceed</button>
            </div>
        </div>
    </main>
    <%- include('../include/footer') %>
</body>
</html>