<%- include('../include/header') %>
<link rel="stylesheet" href="/css/requirement.css">
<title>College Educational Assistance</title>
</head>
<body>
    <%- include('../include/nav') %>
    <main class="req-main">
        <h1 class="req-title">College Educational Assistance</h1>
        <div>
            <p class="req-definition">a form of assistance given to eligible students to help defray school expenses and/or cost of sending students/children to school such as school fees, supplies, projects, allowance and other related expenses.</p>
        </div>
        <div class="req-list">
            <h2 class="req-list-title">List of Requirements</h2>
            <ul>
                <li><a class="" href="/college-assistance/form">Please get your Intake sheet through this link!</a></li>
                <li>Personal Letter of Request Addressed to the Mayor.</li>
                <li>Copy of Registration Form - for the current semester as proof they are enrolled (bring original and 1 photocopy).</li>
                <li>Certificate of Grades from the Previous Semester Duly Signed by the College Registrar with dry seal (1 original)</li>
                <li>Barangay Clearance with dry seal (1 original)</li>
                <li>Certificate of Indigency (1 original)</li>
                <li>Validated School ID (Bring 1 photocopy)</li>
            </ul>
        </div>
        <div>
            <div>
                <!-- <button class="btn btn-primary">Proceed</button> -->
            </div>
        </div>
    </main>
    <%- include('../include/footer') %>
</body>
</html>