<%- include('../include/header') %>
<title>Currently Unavailable</title>
</head>
<body>
    <%- include('../include/nav') %>
    <main>
        <div class="content" style="color: white;">
            <div class="container">
                <h1>Remaining Slot Occupied</h1>
                <p>We're sorry, but the remaining slot is already occupied. Please try again later.</p>
            </div>
        </div>
    </main>
</body>
</html>